<h2>Welcome to SUPFILE</h2>

<p>
    SupFile is a secure platform who provide a easy way to store all of your files.
    <br/>
    With is mobile application, you can now travel on all around the world with your data sync across all of your devices.
    <br/>
    Trusted by a lot of companies, we hope you will enjoyed our product.
</p>
<div>
  <img src="../../assets/images/background1.jpg">
  <img src="../../assets/images/background2.jpg">
  <img src="../../assets/images/background3.jpg">
</div>
<a href="../../assets/docs/Law.rtf">Legal Notices</a>

