#title {
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5%;
}

img {
  max-width: 400px;
  max-height: 80px;
}

#picture_buttons {
  margin-left: 35%;
  margin-top: 25%;
}

.picture_buttons {
  background-color: #DDDDDD;
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
}
