#title {
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
  font-size: 20px;
  margin-top: 2%;
}

video {
  margin-left: 3%;
}

#video_buttons {
  margin-left: 45%;
  margin-top: 3%;
}

.video_buttons {
  background-color: #DDDDDD;
  font-family: "Arial Rounded MT Bold";
  font-weight: bolder;
}
